body{
	background-color:white;
	font-size:16px
	color:#444;
	font-family: sans-serif;
}
 
.content{
	margin-left: auto;
  	margin-right: auto;
}

header{
	background-color:#4ECDC4;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
	text-align: center;
}
header h1{
	text-align: center;
}

.tabel{
	margin-left: auto;
  	margin-right: auto;	
  	font-family: sans-serif;
    color: #23CBA7;
    border-collapse: collapse;

}

.tabel td{
    border-bottom: 1px solid #23CBA7;
	color: #000000;
	padding: 0.5em;
	text-align: center;
}
 
.tabel th{
    background: #23CBA7;
	color: #FFFFFF;
	padding: 1em;
	text-align: center;
}

.jadwal{	
	padding:9px 1px;
	margin: 4px 0;
}
.tanggal{	
	padding:6.5px 7px;
	margin: 4px 0;
}
label{
	font-size: 11pt;
	padding:7px 12px;
	margin: 4px 0;
}
form{
	text-align: center;
}
.note{
	font-size: 10pt;
	text-align: center;
}

.tombol {
	border: 1px solid #2ABB9B;  
	background: #2ABB9B;         
	color: #FFFFFF;  
	font-family:sans-serif;           
	font-size: 11pt;            
	padding:9px 14px; 
	margin-bottom: 1px;
}
.tombol:hover {
	opacity: 0.8;                  
}
.tombol:active {
	background: #23CBA7;                           		
}

/*#2ABB9B #23CBA7 #4ECDC4*/